In [ ]:
# !pip install python-dotenv
# !pip install pandasgui

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from pandasgui import show

This process is not trusted! Input event monitoring will not be possible until it is added to accessibility clients.

In [2]:
load_dotenv()

from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqldb://michael:SampPass@localhost/prntr')
# engine = create_engine(os.getenv('SQLALCHEMY_DATABASE_URI'))

In [3]:
with engine.connect() as connection:
#         df.to_sql(con=connection, name='ohlcvt', if_exists='append', index=False)
    frame = pd.read_sql("select * from ohlcvt WHERE asset = 'BTC' OR asset = 'ADA'", connection)
    
# show(frame)

In [ ]:
show(frame)

In [ ]:
# import matplotlib.pyplot as plt
# from mpl_finance import candlestick_ohlc
# import pandas as pd
# import matplotlib.dates as mpl_dates

# plt.style.use('ggplot')

# # Extracting Data for plotting
# data = pd.read_csv('candlestick_python_data.csv')
# ohlc = data.loc[:, ['Date', 'Open', 'High', 'Low', 'Close']]
# ohlc['Date'] = pd.to_datetime(ohlc['Date'])
# ohlc['Date'] = ohlc['Date'].apply(mpl_dates.date2num)
# ohlc = ohlc.astype(float)

# # Creating Subplots
# fig, ax = plt.subplots()

# candlestick_ohlc(ax, ohlc.values, width=0.6, colorup='green', colordown='red', alpha=0.8)

# # Setting labels & titles
# ax.set_xlabel('Date')
# ax.set_ylabel('Price')
# fig.suptitle('Daily Candlestick Chart of NIFTY50')

# # Formatting Date
# date_format = mpl_dates.DateFormatter('%d-%m-%Y')
# ax.xaxis.set_major_formatter(date_format)
# fig.autofmt_xdate()

# fig.tight_layout()

# plt.show()

In [4]:
adausd = frame.loc[frame['asset'] == 'ADA']
btcusd = frame.loc[frame['asset'] == 'BTC']
# ethusd = frame.loc[frame['asset'] == 'ETH']
# dotusd = frame.loc[frame['asset'] == 'DOT']
# atomusd = frame.loc[frame['asset'] == 'ATOM']
# qqq = frame.loc[frame['asset'] == 'QQQ']
# spy = frame.loc[frame['asset'] == 'SPY']
# voo = frame.loc[frame['asset'] == 'VOO']
# dia = frame.loc[frame['asset'] == 'DIA']
# vtwo = frame.loc[frame['asset'] == 'VTWO']
# vti = frame.loc[frame['asset'] == 'VTI']

asset_list = [
    {
        'ticker': 'ADA',
        'df': adausd,
        'formatted_df': None,
        'type': 'crypto',
    },
    {
        'ticker': 'BTC',
        'df': btcusd,
        'formatted_df': None,
        'type': 'crypto',
    },
    # {
    #     'ticker': 'ETH',
    #     'df': ethusd,
    #     'formatted_df': None,
    #     'type': 'crypto',
    # }, 
    # {
    #     'ticker': 'DOT',
    #     'df': dotusd,
    #     'type': 'crypto',
    # },
    # {
    #     'ticker': 'ATOM',
    #     'df': atomusd,
    #     'type': 'crypto',
    # },
    # {
    #     'ticker': 'QQQ',
    #     'df': qqq,
    #     'type': 'stock',
    # },
    # {
    #     'ticker': 'SPY',
    #     'df': spy,
    #     'type': 'stock',
    # },
    # {
    #     'ticker': 'VOO',
    #     'df': voo,
    #     'type': 'stock',
    # },
    # {
    #     'ticker': 'DIA',
    #     'df': dia,
    #     'type': 'stock',
    # },
    # {
    #     'ticker': 'VTWO',
    #     'df': vtwo,
    #     'type': 'stock',
    # },
    # {
    #     'ticker': 'VTI',
    #     'df': vti,
    #     'type': 'stock',
    # },
]

In [5]:
deltas = [
    {'name':'dy_5m','periods': 5},
    {'name':'dy_10m','periods': 10},
    {'name':'dy_30m','periods': 30},
    {'name':'dy_1h','periods': 60},
    {'name':'dy_2h','periods': 120},
    {'name':'dy_3h','periods': 180},
    {'name':'dy_5h','periods': 300},
    {'name':'dy_8h','periods': 480},
    {'name':'dy_10h','periods': 600},
    {'name':'dy_1d','periods': 1440},
    {'name':'dy_2d','periods': 2880},
    {'name':'dy_3d','periods': 4320},
    {'name':'dy_5d','periods': 7200},
    {'name':'dy_10d','periods': 14400},
    {'name':'dy_15d','periods': 21600},
    {'name':'dy_20d','periods': 28800},
    {'name':'dy_30d','periods': 43200},
    {'name':'dy_45d','periods': 64800},
    {'name':'dy_60d','periods': 86400},
    {'name':'dy_90d','periods': 129600},
    {'name':'dy_180d','periods': 259200},
    {'name':'dy_1y','periods': 525600},
]

def populate_deltas(df):
    for delta in deltas:
        df[delta['name']] = df.groupby('asset').open.pct_change(periods=delta['periods'])

In [6]:
vols = [
    {'name':'mv_5m','periods': 5},
    {'name':'mv_10m','periods': 10},
    {'name':'mv_30m','periods': 30},
    {'name':'mv_1h','periods': 60},
    {'name':'mv_2h','periods': 120},
    {'name':'mv_3h','periods': 180},
    {'name':'mv_8h','periods': 300},
    {'name':'mv_10h','periods': 480},
    {'name':'mv_10h','periods': 600},
    {'name':'mv_1d','periods': 1440},
    {'name':'mv_2d','periods': 2880},
    {'name':'mv_3d','periods': 4320},
    {'name':'mv_5d','periods': 7200},
    {'name':'mv_10d','periods': 14400},
    {'name':'mv_15d','periods': 21600},
    {'name':'mv_20d','periods': 28800},
    {'name':'mv_30d','periods': 43200},
    {'name':'mv_45d','periods': 64800},
    {'name':'mv_60d','periods': 86400},
    {'name':'mv_90d','periods': 129600},
    {'name':'mv_180d','periods': 259200},
    {'name':'mv_1y','periods': 525600},
]

def populate_avg_volume(df):
    for delta in vols:
        df[delta['name']] = df.groupby('asset').volume.apply(lambda x : x.shift().rolling(delta['periods'],min_periods=delta['periods']).mean().fillna(0))

In [8]:
idx = 1
for item in asset_list:
    base_df = item['df']
    # Reset index to start from 0
    df = base_df.reset_index(drop=True)
    # Populate deltas over various time periods
    populate_deltas(df)
    # Populate average volume
    populate_avg_volume(df)
    # df.index.name = 'id'
    item['formatted_df'] = df

In [9]:
btc_df = asset_list[1]['formatted_df']
btc_df.head(10)

# btc_df_filtered = btc_df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]

,id,open,high,low,close,volume,vwap,timestamp,transactions,otc,...,mv_5d,mv_10d,mv_15d,mv_20d,mv_30d,mv_45d,mv_60d,mv_90d,mv_180d,mv_1y
0,1777454,973.37,973.37,966.610,973.35,3.772048,970.4093,1483228800000,7,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1777455,966.62,966.63,966.340,966.34,9.272500,966.3920,1483228860000,5,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1777456,967.05,967.06,966.160,966.37,18.580454,966.7313,1483228920000,11,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1777457,967.37,973.36,967.370,973.36,9.432000,967.4007,1483228980000,7,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1777458,973.40,973.40,967.390,973.39,5.508800,973.3334,1483229040000,8,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1777459,973.35,973.39,966.430,967.56,14.947551,972.4139,1483229100000,11,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1777460,973.39,973.39,966.580,966.58,1.828272,972.1496,1483229160000,4,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1777461,973.38,973.39,966.919,973.38,1.810128,972.7091,1483229220000,13,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1777462,971.72,973.38,966.919,967.45,13.989066,972.3406,1483229280000,29,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1777463,970.95,972.62,966.770,966.77,1.347610,971.2788,1483229340000,13,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Cases

# BTC up at least 5% on 3d, up less than 1% on 1d, vol > 5davg, vol < 2davg
btc_g5u3d_l1u1d_vg5d_vl2d = btc_df.loc[(btc_df['dy_3d'] >= 0.05) & (btc_df['dy_1d'] <= 0.01) & (btc_df['volume'] > btc_df['mv_5d']) & (btc_df['volume'] < btc_df['mv_2d'])]

# show(btc_g5u3d_l1u1d_vg5d_vl2d)
df_2 = btc_df.head(10000)
show(df_2)

btc_g5u3d_l1u1d_vg5d_vl2d.head(10)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI

,id,open,high,low,close,volume,vwap,timestamp,transactions,otc,...,mv_5d,mv_10d,mv_15d,mv_20d,mv_30d,mv_45d,mv_60d,mv_90d,mv_180d,mv_1y
4321,1781775,1023.21,1038.90000,1022.53,1023.150,9.484042,1024.0641,1483488420000,20,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4350,1781804,1036.12,1043.09999,1036.12,1039.700,8.245239,1038.3849,1483490160000,28,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4351,1781805,1036.49,1043.11999,1034.57,1043.104,23.743060,1036.4213,1483490220000,68,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4358,1781812,1039.30,1039.90000,1032.33,1039.900,2.380430,1038.7948,1483490640000,5,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4360,1781814,1033.10,1041.70000,1033.06,1040.957,9.621123,1039.1541,1483490760000,37,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4363,1781817,1036.35,1041.20000,1034.43,1040.900,7.813269,1038.4971,1483490940000,32,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4374,1781828,1032.04,1041.55100,1032.04,1036.780,1.951321,1038.0261,1483491600000,5,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4375,1781829,1036.77,1039.40000,1032.04,1032.040,7.908274,1034.7549,1483491660000,8,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4491,1781945,1036.86,1045.55500,1036.86,1040.250,4.112178,1042.4209,1483498620000,31,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6351,1783805,1072.90,1081.78000,1072.20,1080.200,47.996122,1077.1593,1483610220000,75,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
def Average(lst):
    return str(sum(lst) / len(lst))

In [22]:
times = btc_g5u3d_l1u1d_vg5d_vl2d['timestamp'].tolist()
# print(btc_g5u3d_l1u1d_vg5d_vl2d.head(10))
ada_df = asset_list[0]['formatted_df']
# show(ada_df)

rdy_1h = list()
rdy_3h = list()
rdy_5h = list()
rdy_10h = list()
rdy_1d = list()
rdy_2d = list()
rdy_3d = list()
rdy_5d = list()

for time in times:
    # print(time)
    if time not in ada_df:
        pass
    # new_index = ada_df['timestamp'].loc[lambda x: int(x)==time].index
    new_index = ada_df.loc[ada_df['timestamp'] == time].index.tolist()
    try:
        new_index = new_index[0]
    except IndexError:
        # print('oops')
        continue
    # print(new_index)
    rdy_1h.append(ada_df.iloc[new_index+60]['dy_1h'])
    rdy_3h.append(ada_df.iloc[new_index+180]['dy_3h'])
    rdy_5h.append(ada_df.iloc[new_index+300]['dy_5h'])
    rdy_10h.append(ada_df.iloc[new_index+600]['dy_10h'])
    rdy_1d.append(ada_df.iloc[new_index+1440]['dy_1d'])
    rdy_2d.append(ada_df.iloc[new_index+2880]['dy_2d'])
    rdy_3d.append(ada_df.iloc[new_index+4320]['dy_3d'])
    rdy_5d.append(ada_df.iloc[new_index+7200]['dy_5d'])
    
print('Average return after 1 hour: ' + Average(rdy_1h))
print('Average return after 3 hours: ' + Average(rdy_3h))
print('Average return after 5 hours: ' + Average(rdy_5h))
print('Average return after 10 hours: ' + Average(rdy_10h))
print('Average return after 1 day: ' + Average(rdy_1d))
print('Average return after 2 days: ' + Average(rdy_2d))
print('Average return after 3 days: ' + Average(rdy_3d))
print('Average return after 5 days: ' + Average(rdy_5d))

Average return after 1 hour: -4.916254273575277e-05
Average return after 3 hours: 0.0008651247637492886
Average return after 5 hours: 0.0022194864397405856
Average return after 10 hours: 0.004962390506653307
Average return after 1 day: 0.012161378455941143
Average return after 2 days: 0.02821664206463833
Average return after 3 days: 0.0344956931579377
Average return after 5 days: 0.04019653962595138

In [ ]:
# Conditions
## Snippets of logic that can be conbined in random quantiy and arrangement

# conditions = [
#     {i:'dy_3d',c:'gte',o:0.05},
# ]

conditions = list()

for delta in deltas:
    for n in range(-0.)

In [ ]:
# Metrics
## Values by which good performance is assessed